body {
    background-color: rgb(255, 0, 174);

}

h1 {
    color:black;
    text-align: center;
    padding: 20px;
}

h2 {
    color:black;
    padding: 5px;
}


.button1{
    padding: 10px;
    margin: 10px;
    background-color: rgb(75, 47, 255);
    border-radius: 4px; 
    border: rgb(255, 255, 255); 
    color: rgb(255, 255, 255);
    font-size: 22px; 
    text-align: left;
}

.button2{
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 210, 47);
    border-radius: 4px; 
    border: rgb(255, 255, 255); 
    color: rgb(255, 255, 255);
    font-size: 22px; 
    text-align: left;
}

.submit{
    padding: 10px;
    margin: 10px;
    background-color: greenyellow;
    font-size:18px;
    text-align: left;
    color:green;
    border: green;
    border-radius: 4px;
}

dl {
    color:rgb(0, 0, 0); 
    text-align: left;
    margin:10px;
}